@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: linear-gradient(0deg, #fc8507, #ffa218);
  --color-secondary: #d8d8d8;
  --color-background: #f5f5f5;
  --color-text: #333333;
  --color-focus: orange;
  --color-selected: #e45b00;

  color-scheme: light;
  color: var(--color-text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-image: var(--color-primary);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:hover {
  box-shadow: inset 0 100px 0 hsla(0, 0%, 100%, 0.1);
}

button:active {
  box-shadow: 0 0 0 3px rgba(252, 133, 7, 0.2);
}

.bg-selected {
  background-image: none;
}

@media (prefers-color-scheme: light) {
  :root {
  }
  a:hover {
    color: rgba(255, 156, 51, 0.8);
  }
  button {
    background-color: rgba(255, 156, 51, 0.8);
  }
}

#root {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: var(--color-background);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes loader-animation {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, 10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(10px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.loader-animation {
  animation: 2s infinite forwards loader-animation;
  transition: all 0.1s;
}
